/*Basic Page Styling*/

    /*.nav-bar ul li:nth-of-type(4) a{
        color:#d3d2d2;
    }*/

    h2{
        font-size:30px;
        margin-bottom:18px; 
    }

    section:nth-of-type(1){
        padding:30px 0px 25px;
    }

    section:nth-of-type(2){
        padding:25px 0px 25px;
    }

    section:nth-of-type(3){
        padding:25px 0px 50px;
    }

/*Styling KV Projects - Mobile*/
@media screen and (max-width:623px) {
    section{
        padding:15px 0px;
    }
    .section-wrapper{
        padding: 0px 30px;
    }

    section:nth-of-type(1){
        padding:30px 0px 15px;
    }

    section:nth-of-type(2){
        padding:15px 0px 15px;
    }
    
    section:nth-of-type(3){
        padding:15px 0px 30px; 
    }
    
    .kv-ads-desktop{display: none;}

    h2{
        font-size:23px;
    }

    .kv-ads-mobile{
        width: 100%;
    }

    .kv-ads-mobile img{
        width: 100%;
        border-radius: 4px;
    }

    .kv-ads-mobile img:nth-of-type(1){
        margin-bottom: 6px;
    }
    
}


/*Styling KV Projects - Desktop*/
    @media screen and (min-width:624px) {  
        section:nth-of-type(1){
            padding-top:50px;
        } 

        section:nth-of-type(3){
            padding-bottom:50px;
        }

        .kv-ads-wrapper{
            max-width: 1320px;
            margin: 0 auto;
            padding:0 30px; 
        }

        .kv-ads-desktop img{
            width: 100%;
            height:100%;
        }

        .kv-ads-mobile{
            display: none;
        }
    }