header{
    padding:30px 0px;
}

h2{
    margin-bottom:18px;
}

.nav-bar ul li:nth-of-type(5) a{
    color:#d3d2d2;
}

/*KVs Social Media Styling*/

.section-wrapper{
    max-width: 1320px;
    padding: 0px 30px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

section:nth-of-type(1){
    padding-top:50px;
}

section:nth-of-type(1){
    padding-top:50px;
}

.swiper-slide{
    width: auto !important; 
}


.kv-sm-swiper{
    width: 100%;
    overflow: hidden;
    margin-bottom:45px;   
}

.socialmedia-post{
    max-width: 360px; 
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}


.socialmedia-post img{
    width: 100%;
    border-radius: 5px;
}

#\#4-page-carrousel{
    max-width: 1440px;
}

/*#category-kvs-social-media > div > div.swiper-pagination-1.swiper-pagination-progressbar.swiper-pagination-horizontal, #category-kvs-social-media > div > div.swiper-pagination-2.swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 60%;
    max-width: 360px;
    position:absolute;
    bottom:0px !important;
    top: initial;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    height: 12px;
    border-radius: 10px;  
    background-color: #DBDBDB;
    border: 1px solid var(--grey-n1);  
}

#category-kvs-social-media > div > div.swiper-pagination-1.swiper-pagination-progressbar.swiper-pagination-horizontal > span, #category-kvs-social-media > div > div.swiper-pagination-2.swiper-pagination-progressbar.swiper-pagination-horizontal > span{
    border-radius: 12px; 
    background-color: var(--cherry); 
    
}*/

#category-kvs-social-media > div > div > div.swiper-scrollbar.swiper-scrollbar-horizontal{
    width: 60%;
    max-width: 360px;
    position:absolute;
    bottom:0px !important;
    top: initial;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    height: 12px;
    border-radius: 10px;  
    background-color: #DBDBDB;
    border: 1px solid var(--grey-n1);  
}
