/*Basic Page Styling*/
    header{
        padding:30px 0px;
    }

    .nav-bar ul li:nth-of-type(1) a{
        color:#d3d2d2;
    }

    .section-wrapper{
        max-width: 1320px;
        padding: 0px 30px;
        margin: 0 auto;
        overflow: hidden;
    }

    section:nth-of-type(1){
        padding:50px 0px 25px;
    }

    section:nth-of-type(2){
        padding:25px 0px 20px;
    }

    section:nth-of-type(3){
        padding:20px 0px 50px;
    }

    h2{
        font-size:32px;
        /*font-weight: 600;*/
    }

    h3{
        font-size:27px;
        margin-bottom: 18px;
    }

/*Styling Landing Page Container*/
    .landing-page-header{
        display: flex;
        align-items: center;
        margin-bottom:18px;
        column-gap: 18px;
        position: relative;
    }

    .header-tag{
        font-size:21px;
        font-weight: 600;
        color: var(--white);
        
        
        border: 2.5px solid var(--cherry); 
        padding: 5px 10px;
        border-radius: 6px;
        background-color: var(--cherry);
    }

    .landing-page-container{
        background-color: #eeeeee;
        border-radius: 5px;
        padding:60px;
        border:1px solid;
        max-height: 540px;
        overflow-y: scroll;
        position: relative;
    }

    .landing-page-container-content{ 
        max-width: 960px;
        margin: 0 auto;
    }

    .landing-page-container-content img{
        width: 100%;
        border-radius: 6px;  
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.05)); 
    }

    #lp-mobile{
        display: none;
    }

    /*Swiper Container scrollbar Customization*/
        @media screen and (min-width:768px) {
            .landing-page-container::-webkit-scrollbar {
                margin-right: 5px;
                width: 10px;
                border-radius: 6px;
            }
            
            .landing-page-container::-webkit-scrollbar-track {
                background: #c9c8c8;
                overflow: hidden;
            }
            
            .landing-page-container::-webkit-scrollbar-thumb {
                background: #959393;
                border-radius: 6px; 
            }
            
            .landing-page-container::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }

/*Landing Page Container Mobile Widths*/
    @media screen and (max-width:768px) {
        section:nth-of-type(1){
            padding:30px 0px 15px;
        }
    
        section:nth-of-type(2){
            padding:15px 0px 15px;
        }

        section:nth-of-type(3){
            padding-top:15px;
        }

        .landing-page-header{
            flex-wrap: wrap;
            row-gap: 5px;
        }

        .header-tag{
            font-size:16px;
            padding: 3px 8px;
            border-radius: 4px;

            width: auto;
            height: fit-content;
        }

        .landing-page-container{
            padding:15px;
        }

        .landing-page-container img{
            margin-bottom:0px;
        }

        #lp-desktop{
            display: none;
        }

        #lp-mobile{
            display: block;
        }
    }

 /*Styling Landing Page Recommendation*/
    .thumbnail-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .scroll-gif-thumbnail{
        width: 100%;
        max-width: 510px;
        position: relative;
    }

    .lp-thumbnail{
        max-width: 510px;
        overflow: hidden;
        border-radius: 5px;   
    }

    .lp-thumbnail img{
        width: 100%;
        height: 285px;
        border-radius: 5px; 
    }

    .gif-img{
        object-fit: cover;
    } 

    /*Landing Thumbnail Overlay Styling*/
        .lp-thumbnail-overlay-gif {
            border-radius: 5px;
            width: 100%;
            max-width: 720px; 
            height: 285px;
            
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .1s ease;
        }

        .lp-thumbnail-overlay-gif img{
            border-radius: 5px;
            width: 100%;
            height: 285px;
        }

        .lp-thumbnail:hover .lp-thumbnail-overlay-gif {
            opacity: 1;
        }

    /*landing Page Thumbnail Overlay - Mobile*/
        @media screen and (max-width:540px) {
            .lp-thumbnail img, .lp-thumbnail-overlay-gif img{
                height: 170px; 
            }

            h3{
                font-size:21px;
            }
        } 

